{% extends 'layoutAdmin.html.twig' %}

{% block title %}Liste des valeurs{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1>Liste des valeurs</h1>


    <a href="{{ path('capital_new') }}" class="btn btn-primary add mb-4">Ajouter<i
                class="fas fa-plus ml-2"></i></a>

    <table class="table table-striped">
        <thead class="thBackground">
            <tr>
                <th>Valeurs</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for capital in capitals %}
            <tr>
                <td>{{ capital.number }}</td>
                <td>{{ capital.title }}</td>
                <td class="d-flex pt-3">
                    <a href="{{ path('capital_show', {'id': capital.id}) }}" class="btn btn-secondary mr-4">Aperçu<i
                                class="fas fa-file-alt ml-1"></i></a>
                    <a href="{{ path('capital_edit', {'id': capital.id}) }}" class="btn btn-success mr-4">Éditer<i
                                class="fas fa-pen ml-1"></i></a>
                    <div>
                        {{ include('admin_capital/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune valeur trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
