{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ capital.title }}{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
        <h1 class="ml-2 mb-4">Aperçu de la valeur</h1>
        <div class="row ml-2 mb-4">
            <a href="{{ path('capital_index') }}" class="btn btn-outline-dark">Retour à la liste</a>
            <a href="{{ path('capital_edit', {'id': capital.id}) }}" class="btn btn-success ml-3">Éditer<i
                        class="fas fa-pen ml-1"></i></a>
            <div class="ml-3">
                {{ include('admin_capital/_delete_form.html.twig') }}
            </div>
        </div>

        <table class="table">
            <tbody>
            <tr>
                <th>Titre</th>
                <td class="centerLegendBis">{{ capital.title }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td class="centerLegendBis">{{ capital.number }}</td>
            </tr>

            </tbody>
        </table>
    </div>
{% endblock %}
