{% extends 'layoutAdmin.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
    <h1>Liste des articles</h1>

    <a href="{{ path('article_new') }}" class="btn btn-primary mb-4">Ajouter<i class="fas fa-plus ml-2"></i></a>

    <table class="table table-striped">
        <thead class="thBackground">
        <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Thème</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.date ? article.date|date('d/m/Y') : '' }}</td>
                <td>
                    <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.title }}" />
                </td>
                <td>{{ article.theme.name }}</td>
                <td class="d-flex pt-3">
                    <a href="{{ path('article_show', {'slug': article.slug}) }}" class="btn btn-secondary mr-4">Aperçu<i
                                class="fas fa-file-alt ml-1"></i></a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-success mr-4">Éditer<i
                                class="fas fa-pen ml-1"></i></a>
                    <div>
                        {{ include('admin_article/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun article trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
