{% extends 'layoutAdmin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
        <h1 class="ml-2 mb-4">Aperçu de l'article</h1>
        <div class="row ml-2 mb-4">
            <a href="{{ path('article_index') }}" class="btn btn-outline-dark">Retour à la liste</a>

            <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-success ml-3">Éditer<i
                        class="fas fa-pen ml-1"></i></a>

            <div class="ml-3">
                {{ include('admin_article/_delete_form.html.twig') }}
            </div>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <th>Titre</th>
                <td class="centerLegendBis">{{ article.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td class="centerLegendBis">{{ article.date ? article.date|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td class="centerLegendBis">{{ article.description|raw }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td class="centerLegendBis"><img class="img-crud" src="{{ article.imageName }}" alt="{{ article.title }}"></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
