{% extends 'layoutAdmin.html.twig' %}

{% block title %}Éditer un administrateur{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
        <h1>Éditer une revue de presse</h1>
        <div class="mb-3">
            <a href="{{ path('admin_index') }}" class="btn btn-outline-dark mr-5">Retour à la liste</a>
        </div>
        <div class="col-lg-8 pt-3 pb-3 m-0 jumbotron">
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.roles) }}
            <button class="btn btn-primary mt-2">Mettre à jour</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
