{% extends 'layoutAdmin.html.twig' %}

{% block title %}Création d'un administrateur{% endblock %}

{% block body %}
    <div class="container-fluid p-5">

        <h1>Création d'un administrateur</h1>

        <div class="col-lg-8 pt-3 pb-3 m-0 jumbotron">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.roles) }}


            <button class="btn  btn-primary mt-2">Ajouter<i class="fas fa-plus ml-2">
                </i></button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
