<section class="bgPresse pb-5 links container-fluid" id="dans-la-presse">

    <h2 class="text-center p-3 p-md-5">Dans la presse</h2>

    <div class="row">


        <div class="card article col-md-6">
            {% for pressArticle in pressArticles %}
                <div class="card-body row">
                    <img class="picture-article col-md-4" src="{{ pressArticle.image }}" alt="#">
                    <div class="row col-md-8">
                        <h4 class="presseTitle">{{ pressArticle.title|striptags|truncate(35,true)|raw }}</h4>
                        <p class="mb-5">{{ pressArticle.resume|striptags|truncate(250,true)|raw }}</p>
                    </div>
                    <div class="show-link">
                        <a href="{{ pressArticle.link }}" target="_blank" class="font-weight-bold">lire l'article complet ici
                            <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>


        <div class="card col-md-6">
                <div class="card-body row">
                    {% for pressArticle in pressArticles %}
                    <div class="col-lg-6">
                        <iframe src="https://www.youtube.com/embed/{{ pressArticle.video }}"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                class="video" allowfullscreen></iframe>
                    </div>
                    {% endfor %}
                </div>

        </div>


    </div>

</section>


