{% extends 'layoutAdmin.html.twig' %}

{% block title %}Éditer le carrousel{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
        <h1>Éditer le carrousel</h1>
        <div class="mb-3">
            <a href="{{ path('carousel_index') }}" class="btn btn-outline-dark mr-3">Retour à la liste</a>
        </div>
        <div class="col-lg-8 pt-3 pb-3 m-0 jumbotron img-admin-view">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.link) }}
            {{ form_row(form.imageFile) }}
            <button class="btn btn-primary mt-2">Mettre à jour</button>
            {{ form_end(form) }}
            <div class="mt-4">
                {{ include('admin_carousel/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
