{% extends 'layoutAdmin.html.twig' %}

{% block title %}Contenu du carrousel{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1>Contenu du carrousel</h1>
    <a href="{{ path('carousel_new') }}" class="btn btn-primary add mb-4">Ajouter<i
                class="fas fa-plus ml-2"></i></a>
    <table class="table table-striped">
        <thead class="thBackground">
            <tr>
                <th>Titre</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carousel in carousels %}
            <tr>
                <td>{{ carousel.title }}</td>
                <td><img class="img-crud-index" src="{{ vich_uploader_asset(carousel, 'imageFile')}}" alt="image du carrousel"></td>
                <td class="d-flex pt-3">
                    <a href="{{ path('carousel_show', {'id': carousel.id}) }}" class="btn btn-secondary mr-4">Aperçu<i
                                class="fas fa-file-alt ml-1"></i></a>
                    <a href="{{ path('carousel_edit', {'id': carousel.id}) }}" class="btn btn-success mr-4">Éditer<i
                                class="fas fa-pen ml-1"></i></a>
                    <div>
                        {{ include('admin_carousel/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
