{% extends 'layoutAdmin.html.twig' %}

{% block title %}Ajouter un contenu{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
        <h1>Ajouter un contenu</h1>
        <div class="col-lg-8 pt-3 pb-3 m-0 jumbotron">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.link) }}
            {{ form_row(form.picture) }}
            <button class="btn btn-primary mt-2">Ajouter</button>
            {{ form_end(form) }}
            <div class="mt-4">
                <a href="{{ path('carousel_index') }} "class="btn btn-outline-dark">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
