<section class="links" id="le-conseil-administration">
    <div class="bgCA-Member pt-4 pt-md-5 pb-5">
        <h2 class="text-center mb-5">Le conseil d'administration de La Gabare</h2>
        <div class="container-fluid text-center p-0">
            <div class="scroll-arrow" id="scroll-leftOne">
                <i class="fas fa-chevron-left"></i>
            </div>
            <ul id="imgListOne" class="ul-scroll">
                {% for CAMember in CAMembers %}
                    <li class="li-scroll">
                        <div class="img-scroll">
                            <div class="profile">
                                {% if CAMember.imageName %}
                                    <img class="img-fluid profile-img"
                                         src="{{ vich_uploader_asset(CAMember, 'imageFile') }}"
                                         alt="{{ CAMember.firstname }} {{ CAMember.lastname }}">
                                {% else %}
                                    <img class="img-fluid profile_img"
                                         src="{{ asset('build/images/Portrait_Placeholder.png') }}"
                                         alt="{{ CAMember.firstname }} {{ CAMember.lastname }}">
                                {% endif %}
                            </div>
                            <div class="profile-text text-center worker-card d-flex flex-column justify-content-between pt-2">
                                <h4>{{ CAMember.firstname }}</h4>
                                <h4>{{ CAMember.lastname }}</h4>
                                <p>{{ CAMember.function }}</p>
                                <div class="email-CA">
                                    <a href="mailto:{{ CAMember.email }}"><i class="far fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="scroll-arrow" id="scroll-rightOne" onclick="scrollRight()">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div>
</section>
