<div class="image-transition about-us-image mb-0 d-none d-sm-block"></div>
<section class="bgEmployee links" id="les-salaries">
    <h2 class="text-center mt-5 mb-5">Les salariés</h2>
    <div class="container-fluid text-center p-0">
        <div class="scroll-arrow" id="scroll-left">
            <i class="fas fa-chevron-left"></i>
        </div>
        <ul id="imgList" class="ul-scroll">
            {% for employee in employees %}
                <li class="li-scroll card-shadow">
                    <div class="img-scroll">
                        <div class="profile">
                            {% if employee.imageName %}
                                <img class="img-fluid profile-img" src="{{ vich_uploader_asset(employee, 'imageFile')}}"
                                     alt="{{ employee.firstname }} {{ employee.lastname }}">
                            {% else %}
                                <img class="img-fluid profile-img"
                                     src="{{ asset('build/images/Portrait_Placeholder.png') }}"
                                     alt="{{ employee.firstname }} {{ employee.lastname }}">
                            {% endif %}
                        </div>
                        <div class="text-center worker-card-employee d-flex flex-column justify-content-start pt-2">
                            <p class="worker-name mb-0">{{ employee.firstname |title }}</p>
                            <p class="worker-name">{{ employee.lastname |title }}</p>
                            <p>{{ employee.function }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="scroll-arrow" id="scroll-right" onclick="scrollRight()">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
</section>
