{% extends 'layoutAdmin.html.twig' %}

{% block title %}Revue de Presse{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
        <h1>Revue de Presse</h1>

        <a href="" class="btn btn-primary add mb-4">Ajouter<i
                    class="fas fa-plus ml-2"></i></a>

        <table class="table table-striped">
            <thead class="thBackground">
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for presse in presses %}
                <tr>
                    <td>{{ animation.title }}</td>
                    <td>{{ animation.schedule ? animation.schedule|date('d/m/Y') : '' }}</td>
                    <td class="d-flex pt-3">
                        <a href="{{ path('animation_show', {'id': animation.id}) }}" class="btn btn-secondary mr-4">Aperçu<i
                                    class="fas fa-file-alt ml-1"></i></a>
                        <a href="{{ path('animation_edit', {'id': animation.id}) }}" class="btn btn-success mr-4">Éditer<i
                                    class="fas fa-pen ml-1"></i></a>
                        <div>
                            {{ include('admin_animation/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucune revue de presse trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
