{% extends 'layoutAdmin.html.twig' %}

{% block title %}Presse{% endblock %}

{% block body %}
    <div class="body-press card row text-center">
        <div class="card-header">
            <h1>Presse</h1>
        </div>
        <div class="row m-0">
            <div class="article-press card">
                <div class="card-body">
                    <h3 class="card-title">Image</h3>
                    <img src="{{ presse.image }}" alt="#">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Titre</h3>
                    <p class="card-text">{{ presse.title }}</p>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Description</h3>
                    <p class="card-text">{{ presse.resume }}</p>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Lien</h3>
                    <p class="card-text">{{ presse.link }}</p>
                </div>
            </div>
            <div class="card-body">
                <h3 class="title-press card-title">Video</h3>
                <iframe class="show-video" src="https://www.youtube.com/embed/{{ presse.video }}"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a href="{{ path('presse_edit', {'id': presse.id}) }}" class="btn btn-success m-3">Modifier</a>
        </div>
    </div>
{% endblock %}
