{% extends 'layoutAdmin.html.twig' %}

{% block title %}Mettre à jour un compte-rendu{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1 class="ml-3 mb-4">Editer un compte-rendu</h1>
    <div class="col-lg-8 m-0 jumbotron">
     {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.meetingDate) }}
        {{ form_row(form.link) }}
                <button class="btn btn-primary mt-2">Mettre à jour</button>
        {{ form_end(form) }}
    </div>
        <div class="mt-5">
      <a href="{{ path('report_index') }}" class="btn btn-outline-dark">Retour à la liste</a>
    </div>
</div>
{% endblock %}
