{% extends 'layoutAdmin.html.twig' %}

{% block title %}Editer une animation{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1 class="ml-3 mb-4">Editer une animation</h1>
    <div class="col-lg-8 m-0 jumbotron">
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.schedule) }}
        {{ form_row(form.hourStart) }}
        {{ form_row(form.hourEnd) }}
        {{ form_row(form.image) }}
        <button class="btn btn-primary mt-2">Mettre à jour</button>
        {{ form_end(form) }}
    </div>
    <div class="row mt-5 ml-1">
        <a href="{{ path('animation_index') }}" class="btn btn-outline-dark mr-5">Retour à la liste</a>
        {{ include('admin_animation/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
