{% extends 'base.html.twig' %}

{% block title %}Animation index{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1>Liste des animations</h1>

    <a href="{{ path('animation_new') }}" class ="btn btn-primary mb-4">Ajouter</a>

    <table class="table table-striped">
        <thead class="thBackground">
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Heure de début</th>
                <th>Heure de fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animation in animations %}
            <tr>
                <td>{{ animation.title }}</td>
                <td>{{ animation.schedule ? animation.schedule|date('d/m/Y') : '' }}</td>
                <td>{{ animation.hourStart ? animation.hourStart|date('H:i') : '' }}</td>
                <td>{{ animation.hourEnd ? animation.hourEnd|date('H:i') : '' }}</td>
                <td class="d-flex pt-3">
                    <a href="{{ path('animation_show', {'id': animation.id}) }}" class="btn btn-secondary mr-4">Aperçu</a>
                    <a href="{{ path('animation_edit', {'id': animation.id}) }}" class="btn btn-success mr-4">Éditer</a>
                    <div>
                        {{ include('admin_animation/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune animation trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
