{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ animation.title }}{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1 class="ml-2 mb-4">Aperçu de l'animation</h1>
    <div class="row ml-2 mb-4">
        <a href="{{ path('animation_index') }}" class="btn btn-outline-dark">Retour à la liste</a>
        <a href="{{ path('animation_edit', {'id': animation.id}) }}" class="btn btn-success ml-3">Éditer<i class="fas fa-pen ml-1"></i></a>
        <div class="ml-3">
            {{ include('admin_animation/_delete_form.html.twig') }}
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Titre</th>
            <td>{{ animation.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ animation.description }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ animation.schedule ? animation.schedule|date('d/m/Y') : '' }}</td>
        </tr>
        <tr>
            <th>Heure de début</th>
            <td>{{ animation.hourStart ? animation.hourStart|date('H:i') : '' }}</td>
        </tr>
        <tr>
            <th>Heure de fin</th>
            <td>{{ animation.hourEnd ? animation.hourEnd|date('H:i') : '' }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td><img class="img-crud" src="{{ vich_uploader_asset(animation, 'imageFile')}}" alt="image d'animation"></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
