<section class="productSection">
    <div class="container-fluid">
        <h2 class="text-center p-5">Nos produits</h2>
        <ul>

            {% for category in categories %}
                <a href="{{ path('products_category', {'categoryId' : category.id})}}"><li>
                        {{ category.name | capitalize }}
                    </li></a>
            {% endfor %}
        </ul>
        <div class="container">
            {{ form_start(form) }}

            {{ form_widget(form) }}
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>
            </button>
            {{ form_end(form) }}
        </div>

        {% include 'products/includes/_product_cards.html.twig' %}
    </div>
</section>
