{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ worker.firstName }} {{ worker.lastName }}{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1 class="ml-2 mb-4">Aperçu de l'associé</h1>
    <div class="row ml-2 mb-4">
        <a href="{{ path('worker_index') }}" class="btn btn-outline-dark">Retour à la liste</a>
        <a href="{{ path('worker_edit', {'id': worker.id}) }}" class="btn btn-success ml-3">Éditer<i class="fas fa-pen ml-1"></i></a>
        <div class="ml-3">
            {{ include('admin_worker/_delete_form.html.twig') }}
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ worker.firstName }}</td>
                <th>Portrait</th>
                <td rowspan="4"><img class="img-crud" src="{{ asset('build/images/jam.jpg') }}" alt=""></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ worker.lastName }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ worker.function }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ worker.email }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
