{% extends 'layout.html.twig' %}
{% set page = 'article_list' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

    <section class="bgActualities pb-5 list_article">
        <h2 class="text-center pb-2 pb-md-0 links" id="actualites-de-la-gabare">Intégralité de tous les articles</h2>
        <div class="container-fluid">
            <div class="row mt-a">
                <div class="container">
                    <div class="col-sm-">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-primary">Rechercher</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <div class="row flex-wrap m-0 justify-content-around">
                {% for article in articles %}
                    <div class="card m-0 mb-5 m-md-5 box col-11 col-md-3 card-shadow">
                        {% if article.imageName %}
                            <img class="card-img-top image-size-article"
                                 src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.title }}"/>
                        {% else %}
                            <img src="{{ asset('build/images/placeholder1.png') }}" alt="{{ article.title }}"
                                 class="card-img-top image-size-article"/>
                        {% endif %}
                        <h5 class="theme position-absolute fixed-top mt-2 pl-2 pr-2 p-1" style="background: {{ article.theme.color }}">{{ article.theme.name }}</h5>
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.date | date("d/m/Y") }}</p>
                            <p class="card-text overflow-ellipsis">{{ article.description|truncate(80, true)|raw }}</p>
                            <a href="{{ path('article_show', {'slug' : article.slug}) }}" class="btn btn-primary">Consulter</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <a href="{{ path('gabare_life') }}"><button class="logButton">Retour</button></a>
            </div>
        </div>

        <nav class="page_navigation ml-5">
            {{ knp_pagination_render(articles) }}
        </nav>

    </section>

{% endblock %}
