{% extends 'layout.html.twig' %}
{% set page ='show_article' %}

{% block body %}
    <section>
    <div class="container pt-5 mt-5">
        <div class="photoShowArticle">
            <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.title }}" class="photoShowArticle">
        </div>
        <h1 class="titleShowArticle"> {{ article.title }}</h1>
        <div class="contentArticle">{{ article.description | raw }}</div>
        <p>{{ article.date | date("d/m/Y") }}</p>
    </div>
    <div class="container">
        <div class="row mt-5 mb-5 justify-content-center">
            <div class="col-xs-5">
                <a href="{{ path('article_list') }}"><button class="logButton">Liste des articles</button></a>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
