<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for i in 0..(carousels | length - 1)  %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}" class={% if i == 0 %}active{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for carousel in carousels %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                {% if carousel.imageName %}
                <img src="{{ vich_uploader_asset(carousel, 'imageFile')}}"
                     alt="{{ carousel.title }}" class="carouselImageSize">
                {% else %}
                    <img src="{{ asset('build/images/supermarket.jpg') }}" class="carouselImageSize" alt="La Gabare">
                {% endif %}
                <div class="carousel-caption">
                    <div class="title_carousel">
                        <h4>{{ carousel.title }}</h4>
                        <p>{{ carousel.description|truncate(75, true) }}</p>
                    </div>
                    <a href="{% if carousel.link is defined%}{{carousel.link}}{% endif %}" class="{% if carousel.link == "" %}d-none{% endif %}"><button class="logButton ghost"> En savoir plus</button></a>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
