<div id="contactForm" class="mt-4">

    {{ form_start(form) }}
    <div class="row">
        <div class="col">{{ form_row(form.name) }}</div>
        <div class="col">{{ form_row(form.email) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.subject) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.message) }}</div>
    </div>

    <div class="form-group">
    <button type="submit" class="btn btn-success">Envoyer</button>
    {{ form_end(form) }}
    </div>

</div>
