{% extends 'layoutAdmin.html.twig' %}

{% block title %}Éditer le contenu{% endblock %}

{% block body %}

    <div class="container-fluid p-5">
        <h1>Éditer l'histoire</h1>

        <div class="row mt-5 ml-1 mb-3">
            <a href="{{ path('history_show', {'id': history.id}) }}" class="btn btn-outline-dark mr-5">Retour</a>
        </div>

        <div class="col-lg-8 m-0 jumbotron img-admin-view">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.imageFile) }}
            <button class="btn btn-primary mt-2">Mettre à jour</button>
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
