{% extends 'layoutAdmin.html.twig' %}

{% block title %}History{% endblock %}

{% block body %}

    {% include '_flash_message.html.twig' %}

    <div class="container-fluid p-5">
        <h1 class="ml-2 mb-4">Notre histoire</h1>
        <div class="row ml-2 mb-4">

            <a href="{{ path('history_index') }}" class="btn btn-outline-dark m-3">Retour à la liste</a>

            <a href="{{ path('history_edit', {'id': history.id}) }}" class="btn btn-success m-3">Éditer<i
                        class="fas fa-pen"></i></a>


            <table class="table">
                <tbody>
                <tr>
                    <th>Sous-Titre</th>
                    <td class="centerLegendBis">{{ history.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td class="centerLegendBis">{{ history.description|raw }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td class="centerLegendBis">{{ history.imageName }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
