{% extends 'layoutAdmin.html.twig' %}

{% block title %}History{% endblock %}

{% block body %}

    <div class="container-fluid">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show flash">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <h1>Notre histoire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ history.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ history.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ history.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ history.image }}</td>
            </tr>
        </tbody>
    </table>

    <div class="card-footer text-muted">
        <a href="{{ path('history_edit', {'id': history.id}) }}" class="btn btn-success m-3">Modifier</a>
    </div>

{% endblock %}
