{% extends 'layoutAdmin.html.twig' %}

{% block title %}Ajouter une réunion d'information{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1 class="ml-3 mb-4">Ajouter un une réunion d'information</h1>
    <div class="col-lg-8 m-0 jumbotron">

        {{ form_start(form) }}
        {{ form_row(form.visitDate) }}
        {{ form_row(form.visitTime) }}
        {{ form_row(form.visitPlace) }}
        <button class="btn btn-primary mt-2">Ajouter</button>
        {{ form_end(form) }}

    </div>
    <div class="mt-5">
        <a href="{{ path('timetable_index') }}" class="btn btn-outline-dark">Retour à la liste</a>
    </div>
</div>
{% endblock %}
