{% extends 'base.html.twig' %}

{% block title %}Timetable{% endblock %}

{% block body %}
    <h1>Timetable</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ timetable.id }}</td>
            </tr>
            <tr>
                <th>VisitDate</th>
                <td>{{ timetable.visitDate ? timetable.visitDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>VisitTime</th>
                <td>{{ timetable.visitTime ? timetable.visitTime|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('timetable_index') }}">back to list</a>

    <a href="{{ path('timetable_edit', {'id': timetable.id}) }}">edit</a>

    {{ include('admin_timetable/_delete_form.html.twig') }}
{% endblock %}
